body{
    background-color: #CDB4DB;
}

#searchInputRow{
    margin-top: 10px;
    min-height: 250px;
    background-color: #FFC8DD;
    background-image: url("images/jigglypuff.png");
    background-repeat: repeat;
}

#searchInputCol{
    padding: 10px;
    background-color: #FFAFCC;
}

#searchLabel{
    color: #01335E;
    margin: 10px;
    padding: 5px;
    background-color: #DEC7FF;
    border:2px solid #6D4186;
    border-radius: 20px;
}

#searchBtn{
    background-color: #CDB4DB;
    margin: 10px;
    border-width: 2px;
    border-color: #6D4186;
    color: #6D4186;
}
#pokeName{
    background-color: #EFC8E7;
}

#pokeDetails {
    border: 3px solid #26A9C6;
    border-radius: 40px;
    background-color: #C7E4FE ;
    margin-top: 10px;
}

#pokeImg {
    border: 2px dashed #2775DC;
    margin: 10px;
    border-radius: 25px;
    background-color: #7EADEA;
}